.footer-list-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
  
  }

  .footer-post {
    font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 9px;
  
  color: var(--footer-text-color);
  }
  
  .footer-number {
    font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 9px;
    
  color: var(--footer-text-color);
  }